body  {
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
/*Navigation*/
.header  {
  background-color: black;
  height: 69px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 5px;
  top: 0;
}

header img {
  height: 50px;
  margin-left: 10px;
}

a {
  color: seashell;
  margin: 0 10px;
}

/*Our Mission*/
#mission{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
}
.imagemission  {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside {
  background-color: black;
  text-align: center;
  width: 1200px;
}


/*Tea of the Month*/
.teaimg {
  height: 200px;
  weight: 300px;
  margin-bottom: 10px;
}

.tea h4 {
  margin-top: 0px;
}

.teaofthemonth  {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  text-align: center;
}

#featuredtea {
  text-align: center;
  width: 1000px;
  margin: auto;

}

/*Locations*/
#locations  {
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

#locationsheading {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.locationbox  {
  display: flex;
  width: 300px;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  opacity: 1;

}

#locationcontainer  {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.rightmargin  {
  margin-right: 40px;
}

/*Footer*/
footer  {
  text-align: center;
  height: 200px;
}

/*Copyright*/
#copyright  {
  text-align: left;
  margin-left: 20px;
}
